#grid
  - images.each do |image|
    == render "shared/image", image: image
= javascript_include_tag 'masonry.pkgd.min', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'jquery.infinitescroll.min', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'imagesloaded.pkgd.min', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'show_girl_images', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'image_favorite', 'data-turbolinks-track': 'reload'
= hidden_field_tag 'authenticity_token', form_authenticity_token
