.thumbnail-candidate-img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 100px;
  height: 100px;
  margin: 5px;
}
.thumbnail-candidate-img:hover {
  opacity: .5;
}

.thumbnail-img {
  width: 100px;
  height: 100px;
  margin: 5px;
}

