.thumbnail-img {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
.thumbnail-img a {
  position:absolute;
  width: 100px;
  height: 100px;
  text-indent:-999px;
}
.thumbnail-img a:hover {
  border-radius: 50%;
  background-color:#ffe5ff;
  filter:alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: .5;
}
.thumbnail-img.elected {
}
.thumbnail-img.candidate {
}
.thumbnail-img.candidate:hover {
  opacity: .5;
}
.thumbnail-img.selected {
  border: 3px solid #ffe5ff;
}
